/* style.css */
body {
    font-family: 'Kanit', sans-serif; /* ใช้ font Kanit */
    margin: 0; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #f4f4f4; /* เปลี่ยนสีพื้นหลัง */
}

header, main, footer {
    padding: 20px;
}

h1, h2 {
    text-align: center;
    color: #333; /* เปลี่ยนสี heading */
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* เพิ่ม shadow */
    max-width: 800px; /* กำหนดความกว้างสูงสุด */
    width: 100%;
    margin: 0 auto; /* จัดให้อยู่กึ่งกลาง */
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

select {
    width: 100px;
    padding: 10px;
    box-sizing: border-box; 
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-row {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

button {
    background-color: #4CAF50; /* เปลี่ยนสีปุ่ม */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* เพิ่ม hover effect */
}

.lang-menu {
    display: flex;
    justify-content: flex-end; /* จัดปุ่มภาษาไปด้านขวา */
    margin-bottom: 20px;
}

.lang-menu button {
    margin-left: 10px; /* เพิ่มระยะห่างระหว่างปุ่ม */
}

.foreign-currency {
    border: 1px solid #ccc;
    padding: 20px; 
    margin-bottom: 20px; 
    background-color: #f9f9f9; 
    border-radius: 5px; 
}

.foreign-currency h3 {
    text-align: center; 
    margin-bottom: 10px; 
    cursor: pointer;
}

#foreign-currency-inputs {
    display: none; 
}

#result {
    text-align: center;
    margin-top: 20px;
}

#result p {
    margin: 5px 0;
}

#result p:first-child { 
    font-size: 1.2em;
    font-weight: bold; 
}

#result .total-assets {
    font-size: 0.8em;
    color: #777;
}

.intro {
    background-color: #f9f9f9; /* เพิ่มสีพื้นหลัง */
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 1.8em;
    color: #333; /* เปลี่ยนสี heading */
}

.intro p {
    font-size: 1.2em;
    line-height: 1.6; /* ปรับระยะห่างบรรทัด */
}

.quotes {
    text-align: center;
    margin-bottom: 20px;
}

.quotes div {
    font-size: 1.4em;
    margin-bottom: 10px;
}

footer {
    background-color: #333; /* เปลี่ยนสีพื้นหลัง */
    color: #fff; /* เปลี่ยนสีข้อความ */
    text-align: center;
    padding: 10px 0; /* ปรับ padding */
}

footer nav a {
    color: #fff; /* เปลี่ยนสีลิงก์ */
    margin: 0 10px; /* ปรับระยะห่าง */
}
